.container {
    margin-top: 100px;
    text-align: center;
  }
  
  .container h1 {
    font-size: 36px;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 99%;
    border-radius: 10px;
  }
  
  
  .gInfo-overlay{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 48px; 
    font-weight: bold;
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    width: auto;
    max-width: 90%; 
    word-wrap: break-word;
  }
  .mini1-overlay{
    position: absolute;
    top: 20px;
    right: 20px;
    color: black;
    font-size: 48px; 
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.5); 
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    width: 40%;
    max-width: 90%; 
    word-wrap: break-word; 
    text-align: left;
    line-height: 1,5;
  }
  .mini2-overlay{
    position: absolute;
    top: 250px;
    right: 20px;
    color: black;
    font-size: 48px; 
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.5); 
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    width: 40%;
    max-width: 90%; 
    word-wrap: break-word; 
    text-align: left;
    line-height: 1,5;
  }
  .mini3-overlay{
    position: absolute;
    top: 425px;
    right: 20px;
    color: black;
    font-size: 48px; 
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.5); 
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    width: 40%;
    max-width: 90%; 
    word-wrap: break-word; 
    text-align: left;
    line-height: 1,5;
  }
  .mini4-overlay{
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    font-size: 48px; 
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.5); 
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    width: 40%;
    max-width: 90%; 
    word-wrap: break-word; 
    text-align: left;
    line-height: 1,5;
  }
  .mini5-overlay{
    position: absolute;
    top: 200px;
    left: 20px;
    color: black;
    font-size: 48px; 
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.5); 
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    width: 40%;
    max-width: 90%; 
    word-wrap: break-word; 
    text-align: left;
    line-height: 1,5;
  }
  .mini6-overlay{
    position: absolute;
    top: 380px;
    left: 20px;
    color: black;
    font-size: 48px; 
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.5); 
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    width: 40%;
    max-width: 90%; 
    word-wrap: break-word; 
    text-align: left;
    line-height: 1,5;
  }