.footer-wrapper {
  background-color: #ffc546;
  color: #333;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  padding: 20px;
}

.title-footer {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.title-small {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description-footer {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.list-footer {
  list-style: none;
  padding: 0;
}

.list-footer li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.list-footer li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  border: none;
}

.list-footer li a:hover {
  color: #0056b3;
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}

.social-media ul {
  display: flex;
  gap: 10px;
  padding: 0;
}

.social-media ul li {
  list-style: none;
}

.social-media .icon {
  font-size: 24px;
  transition: transform 0.3s ease;
}

.social-media .icon:hover {
  transform: scale(1.2);
}

.linkedin {
  color: #0077b5;
}
.instagram {
  color: #c13584;
}
.facebook {
  color: #1877f2;
}
.telegram {
  color: #0088cc;
}

.footer-copyright {
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.systemPageText{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    height: 50px;
}