.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: 23%;
}

a{
    height: 200px;
    text-align: center;
    border-left:5px solid black;
    border-right: 5px solid  black;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none;
    padding: 50px 5px 0px 5px;
}